body{
    font-size: 20px;
    
}

.maindiv{
    width: 400px;
    border: 3px solid #f5f5f5;
    background-color: #f2f2f2;
    margin-top: 30px;
    /* box-shadow:2px 2px black; */
}
.div4{
    background-color: white;
}
.btn{
    background-color: #f9f9f9;
    width: 20px;
    height: 60px;
    margin-left: 2px;
    border-radius: 0px;
    
}
#div1{
    height: 30px;
}
#div2{
    height: 50px;
}
.font-weight-bold{
    font-size: 20px;
    background-color: white;
   
}
.font-weight-bold:hover{
    background-color: #f9f9f9;
}
.btna{
    height: 33px;
}
#div3{
    height: 30px;
}
#div4{
    height: 50px;
}
